*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  min-height: 100vh;
  
}

h1{
  padding-bottom: 20px;
  font-size: 50px;
}

.container {
  display: flex;
  height: 500px;
  width: 500px;
  background-color: white;

}

.mode-container{
  display: flex;
}

.slidecontainer{
  padding: 20px 0px;
}

.grid2 {
 
  width: 25px;
  height: 25px;
  border: solid 1px;
  flex: 1;
}